* {
            margin: 0;
            padding: 0;
        }
        body {
        	background-color: white;
        	font-family: "Poppins", sans-serif;
        }
        .flex-container {
        	display: flex;
          	flex-direction: row;
        }
        .row {
        	display: flex;
          	flex-direction: row;
          	flex-wrap: wrap;
        }
        .column {
        	display: flex;
          	flex-direction: column;
          	justify-content: center;
          	flex-wrap: wrap;
        }
        .icon {
        	width: 30px;
        	margin: 20px 5px;
        }
        .icon:hover {
        	transform: scale(1.2);
        }
        .section-title {
        	font-size: 40px;
        	padding: 0 15px 0 15px;
        	color: #26A96C;
        	margin: 15px 50px;
        }
        .section-underline {
        	width: 50px;
        	margin-left: 65px;
        	border: 3px solid #62676C;
        	margin-bottom: 30px;
        }
        .stats {
        	margin: 0 30px;
        	font-size: 1em;
        	width: 50.7vw;
        	display: flex;
        	justify-content: space-between;
        	pointer-events: none;
        	cursor: default;
        	text-decoration: none;
        	color: black;
        }
        .language {
        	color: black;
        	text-decoration: none;
        }
        .percent {
        	color: black;
        	text-decoration: none;
        }
        #pseudo-left-column {
        	width: 356px;
			height: 100vh;
			background-color: white;
        }
        #left-column {
        	background-color: #62676C;
        	width: 300px;
			height: 100vh;
			display: flex;
			flex-direction: column;
			justify-content: flex-start;
			align-items: center;
			position: fixed;
        }
        #small-photo {
        	width: 100px;
        	border-radius: 50%;
        	border: solid 7px #A1A4A7;
        	margin: 20px;
        }
        h1 {
        	color: white;
        }
        #menu {
        	display: flex;
          	flex-direction: column;
          	justify-content: flex-start;
          	width: 100%;
          	height: auto;
          	overflow: auto;
        }
        #menu a {
        	margin: 20px 30px;
        	text-decoration: none;
        	color: #E0E1E2;
        	font-size: 22px;
        	font-weight: thin;
        	line-height: 30px;
        }
        #menu a:hover {
        	color: white;
        }
        #footer {
        	width: 100%;
        	height: 120px;
        	display: flex;
        	flex-direction: column;
        	justify-content: flex-end;
        	position: absolute;
        	bottom: 0;
        	align-items: center;
        	margin-bottom: 20px;
        }
        #footer p {
        	margin-bottom: 20px;
        	color: white;
        }
        #footer a {
        	text-decoration: none;
        	color: #E0E1E2;
        }
        #footer a:hover {
        	color: white;
        }
        #right-column {
        	width: 100%;
        	display: flex;
        }
        #quote {
        	display: flex;
        	align-items: center;
        	text-align: center;
        	font-style: italic;
        	margin: 20px;
        	padding: 5px;
        	border: 1px dashed green;
        	height: 40px;
        	align-self: center;
        	width: 300px;
        }
        #background-image {
        	width: 100%;
        	align-content: center;
        	justify-content: center;
        }
        #right-column p {
        	margin: 20px 65px;
        	line-height: 20px;
        	font-size: 1.1em;
        }
        @media (max-width: 992px), (max-height: 800px) {
        	#menu {
        		justify-content: center;
        		align-items: center;
        	}
        	#right-column {
        		width: 100%;
        		align-content: center;
        		justify-content: center;
        	}
        	#right-column p {
        		margin: 20px 30px;
        	}
        	#menu a {
        		margin: 2px;
        	}
        	#footer {
        		margin-bottom: 20px;
        	}
        	.section-underline {
        		margin-left: 30px;
        	}
        	.section-title {
        		margin-left: 15px;
        	}
        	#left-column {
        		height: 100%;
        		min-height: 550px;
        	}
        	#pseudo-column {
        		width: 306px;
        	}
        }
        @media (max-width: 800px) {
        	#page-content {
        		flex-direction: column;
        	}
        	#left-column {
        		position: absolute;
        		width: 100%;
        	}
        	#menu {
        		justify-content: center;
        		align-items: center;
        		overflow-y: visible;
        	}
        	#menu a {
        		margin: 4px;
        	}
        	#background-image img {
        		width: 100vw;
        	}
        }
        /* Progress bars start */

        .meter {
        	width: 50vw;
		  	height: 20px; /* Can be anything */
		  	position: relative;
		  	margin: 0px 60px 30px 60px;
		  	background: #62676C;
		  	border-radius: 25px;
		  	padding: 10px;
		  	box-shadow: inset 0 -1px 1px rgba(255, 255, 255, 0.3);
		}
		.meter > span {
		  display: block;
		  height: 100%;
		  border-top-right-radius: 8px;
		  border-bottom-right-radius: 8px;
		  border-top-left-radius: 20px;
		  border-bottom-left-radius: 20px;
		  background-color: #26A96C;
		  background-image: linear-gradient(
		    center bottom,
		    rgb(43, 194, 83) 37%,
		    rgb(84, 240, 84) 69%
		  );
		  box-shadow: inset 0 2px 9px rgba(255, 255, 255, 0.3),
		    inset 0 -2px 6px rgba(0, 0, 0, 0.4);
		  position: relative;
		  overflow: hidden;
		}

		/* Progress bars end */

		/*Back to top button start*/

		#myBtn {
			display: none;
		  	position: fixed;
		  	bottom: 20px;
		  	right: 30px;
		  	z-index: 99;
		  	font-size: 18px;
		  	border: none;
		  	outline: none;
		  	background-color: #62676C;
		  	color: white;
		  	cursor: pointer;
		  	padding: 15px;
		  	border-radius: 4px;
		  	opacity: 0.7;
		}

		#myBtn:hover {
		  background-color: #555;
		}

		/*Back to top button end*/